<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608756724133-omnidr2brkle3pp9d2s30rd87olvj7d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608756724133-omnidr2brkle3pp9d2s30rd87olvj7d9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608756724133-3jqfprm9u5i6p3iol3lf5gda86990m0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfmjElDtHdTm2tTG9UkLxxhaNQLat757Q</string>
	<key>GCM_SENDER_ID</key>
	<string>608756724133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkie.tech.cody</string>
	<key>PROJECT_ID</key>
	<string>devcody-2684e</string>
	<key>STORAGE_BUCKET</key>
	<string>devcody-2684e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608756724133:ios:1384bae16deb1abf3bf84c</string>
	<key>DATABASE_URL</key>
	<string>https://devcody-2684e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>